{% if field.is_hidden %}
  {{ field }}
{% else %}

<div id="div_{{ field.auto_id }}" class="mb-3 {% if field.errors %}is-invalid{% endif %}">
  {% if field.label %}
    <label for="{{ field.id_for_label }}" class="form-label {% if field.field.required %}requiredField{% endif %}">
    {{ field.label|safe }}
    </label>
  {% endif %}

  {{ field }}

  {% if field.help_text %}
  <div id="passwordHelpBlock" class="form-text">
    {{ field.help_text|safe }}
  </div>
  {% endif %}

  {% if field.errors %}
  <div class="valid-feedback">
    {% for error in field.errors %}
      <p id="error_{{ forloop.counter }}_{{ field.auto_id }}">{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endif %}
