<!-- templates/base_edit_profe.html -->
{% extends "base_profe.html" %}
{% load i18n %}

{% block title %}{% trans 'Edit profile' %}{% endblock %}

{% block section_header %}{% trans 'Edit profile' %}{% endblock %}

{% block section_content %}
<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'edit_profe_data' %}active{% endif %}" href="{% url 'edit_profe_data' %}">Datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'edit_profe_permutas' %}active{% endif %}" href="{% url 'edit_profe_permutas' %}">Permutas</a>
    </li>
  </ul>
</nav>
<div class="editcontent">
  {% block edit_tab_content %}{% endblock %}
</div>
{% endblock %}
