<!-- templates/account_edit.html -->
{% extends "base_edit_profe.html" %}
{% load profe_tags %}
{% load i18n %}

{% block edit_tab_content %}
<div class="editcontent__section">
  <h4>{% trans 'First and last name' %}</h4>
  <form method="post" class="form">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.first_name.id_for_label }}">
        {{ form.first_name.label }}
      </label>
      <input type="first_name"
             id="{{ form.first_name.id_for_label }}"
             name="{{ form.first_name.html_name }}"
             class="form-control{% if form.first_name.errors %} is-invalid{% endif %}"
             value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">

      {% if form.first_name.help_text %}
      <small class="text-muted">
        {{ form.first_name.help_text }}
      </small>
      {% endif %}

      {% for err in form.first_name.errors %}
      <span class="invalid-feedback">{{ err }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      <label for="{{ form.last_name.id_for_label }}">
        {{ form.last_name.label }}
      </label>
      <input type="last_name"
             id="{{ form.last_name.id_for_label }}"
             name="{{ form.last_name.html_name }}"
             class="form-control{% if form.last_name.errors %} is-invalid{% endif %}"
             value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">

      {% if form.last_name.help_text %}
      <small class="text-muted">
        {{ form.last_name.help_text }}
      </small>
      {% endif %}

      {% for err in form.last_name.errors %}
      <span class="invalid-feedback">{{ err }}</span>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
  </form>
</div>

<div class="editcontent__section">
  <h4>{% trans 'Avatar' %}</h4>
  <div class="avatarsection">
    <img class="avatarsection__img" src="{{ user|gravatar:100 }}" height="100" width="100"/>
    <p class="avatarsection__txt">
      {% blocktrans %}
      We are using Gravatar to get your avatar from your registration email. To change this image check <a href="https://gravatar.com/">Gravatar website</a>.
      {% endblocktrans %}
    </p>
  </div>
</div>

<div class="editcontent__section">
  <h4>{% trans 'Password' %}</h4>
  <p>
    {% url 'password_change' as password_change_url %}
    {% blocktrans %}
    To change your password click <a href="{{ password_change_url }}">here</a>.
    {% endblocktrans %}
  </p>
</div>

<div>
  <h4>{% trans 'Borrar conta' %}</h4>
  <p>
    {% url 'delete_profe' as delete_profe_url %}
    {% blocktrans %}
    To delete this account click <a href="{{ delete_profe_url }}">here</a>.
    {% endblocktrans %}
  </p>
</div>
{% endblock %}
