<!-- templates/password_change_form.html -->
{% extends "base_profe.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block section_header %}Cambiar contrasinal{% endblock %}

{% block section_content %}
<form method="post" class="form">{% csrf_token %}
  {% if form.errors %}
      <p class="errornote">
      {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
  {% endif %}

  <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

  <div class="form-group">
    <label for="{{ form.password1.id_for_label }}">
      {{ form.old_password.label }}
    </label>
    <input type="password"
           id="{{ form.old_password.id_for_label }}"
           name="{{ form.old_password.html_name }}"
           class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
           required
           value="{% if form.old_password.value %}{{ form.old_password.value }}{% endif %}">
     {% if form.old_password.help_text %}
       <small class="text-muted">
         {{ form.old_password.help_text }}
       </small>
     {% endif %}

     {% for err in form.old_password.errors %}
       <span class="invalid-feedback">{{ err }}</span>
     {% endfor %}
  </div>


  <div class="form-group">
    <label for="{{ form.password1.id_for_label }}">
      {{ form.new_password1.label }}
    </label>
    <input type="password"
           id="{{ form.new_password1.id_for_label }}"
           name="{{ form.new_password1.html_name }}"
           class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
           required
           value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}">
     {% if form.new_password1.help_text %}
       <small class="text-muted">
         {{ form.new_password1.help_text }}
       </small>
     {% endif %}

     {% for err in form.new_password1.errors %}
       <span class="invalid-feedback">{{ err }}</span>
     {% endfor %}
  </div>

  <div class="form-group">
    <label for="{{ form.new_password2.id_for_label }}">
      {{ form.new_password2.label }}
    </label>
    <input type="password"
           id="{{ form.new_password2.id_for_label }}"
           name="{{ form.new_password2.html_name }}"
           class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}"
           required
           value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}">
     {% if form.new_password2.help_text %}
       <small class="text-muted">
         {{ form.new_password2.help_text }}
       </small>
     {% endif %}

     {% for err in form.new_password2.errors %}
       <span class="invalid-feedback">{{ err }}</span>
     {% endfor %}
  </div>

  <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary">
</form>
{% endblock %}
