<!-- templates/base.html -->
{% load sass_tags %}
{% load profe_tags %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>{% block title %}{% endblock %} - EnsinoPúblico.gal</title>

  <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <header class="container sitenav">
    <nav class="navbar navbar-expand-lg navbar-light mainnavbar">
      <span class="navbar-brand mainnav__brand">
        <a class="mainnav__sitename" href="{% url 'home' %}">EnsinoPúblico.gal</a>
        <span class="mainnav__subsitename" >{% block subsitename %}{% endblock %}</span>
      </span>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link mainnav__user" href="{% url 'edit_profe_data' %}">
              <img class="mainnav__avatar" src="{{ user|gravatar:30 }}" />
              <span class="mainnav__username">{% if user.first_name %} {{ user.first_name }} {% else %} {{ user.email }} {% endif %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="far fa-sign-out"></i>
              <span>Sair</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'rexistro' %}" class="nav-link">Rexistrase</a>
          </li>
          {% block menu %}
          {% endblock %}
        {% endif %}
      </ul>
    </nav>
  </header>
  <main class="container sitecontent">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="sitefooter container">
    <div class="sitefooter__info">
    <span>EnsinoPúblico.gal</span>
    <a href="">{% trans 'Terms and conditions'%}</a>
    <a href="">{% trans 'Privacy policy'%}</a>
    <a href="">{% trans 'Cookies policy'%}</a>
    <a href="">{% trans 'Help and contact'%}</a>
    </div>
  </footer>
</body>
</html>
