<!-- templates/base.html -->
{% load sass_tags %}
{% load profe_tags %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>{% block title %}{% endblock %} - EnsinoPúblico.gal</title>

  <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <header class="container sitenav">
    <nav class="navbar navbar-expand-lg navbar-light mainnavbar">
      <span class="navbar-brand mainnav__brand">
        <a class="mainnav__sitename" href="{% url 'home' %}">EnsinoPúblico.gal</a>
        <span class="mainnav__subsitename" >{% block subsitename %}{% endblock %}</span>
      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mainnav__mainmenu" id="mainMenu">
        <ul class="navbar-nav mainnav__appmenu">
          {% block mainmenu %}
          {% endblock %}
        </ul>
        <ul class="navbar-nav mainnav__usermenu">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown mainnav__user">
              <a class="nav-link  dropdown-toggle" href="#" role="button" id="dropdownMenuAutenticado" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="mainnav__avatar" src="{{ user|gravatar:40 }}" />
                <span class="mainnav__username">{% if user.first_name %} {{ user.first_name }} {% else %} {{ user.email }} {% endif %}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuAutenticado">
                <a class="dropdown-item" href="{% url 'edit_profe_data' %}">Preferencias</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Pechar Sesión</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item dropdown mainnav__user">
              <a class="nav-link  dropdown-toggle" href="#" role="button" id="dropdownMenuSinAutenticar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="mainnav__avatar" src="/static/img/avatar.png" width="40" height="40" />
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSinAutenticar">
                <a class="dropdown-item" href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
                <a class="dropdown-item" href="{% url 'rexistro' %}" class="nav-link">Rexistrase</a>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>

    </nav>
  </header>
  <main class="container sitecontent">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="sitefooter container">
    <div class="sitefooter__info">
    <span>EnsinoPúblico.gal</span>
    <a href="">{% trans 'Terms and conditions'%}</a>
    <a href="">{% trans 'Privacy policy'%}</a>
    <a href="">{% trans 'Cookies policy'%}</a>
    <a href="">{% trans 'Help and contact'%}</a>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block customjs %}
  {% endblock %}
</body>
</html>
