
.sitefooter {

  margin-bottom: 0.5em;
  margin-top: 0.5em;

  &__info {
    text-align: center;

    &>*:not(:first-child)::before {
      content: "·";
      margin: 0 2px;
      color: black;

      &:hover,&:focus {
        text-decoration: none !important;
        color: black;
      }
    }
  }

}
